/* footer styling */
.main-footer {
  background-color: #f2a9b6;
  color: #f9e7e8;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  font-size: 15px;
}

.col {
  flex: 1;
  max-width: 400px;
  padding: 10px;
}

.col h4 {
  font-weight: lighter;
  font-size: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 5px 0;
}

.col-sml {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.links li:hover {
  color: #ed7185;
}

/* responsive page styling */
@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .col {
    max-width: none;
  }
}
